<div class="container col-md-12 text-center">
    <div class="table-responsive">
        <table *ngIf="launchpadInfo != undefined" class="table table-bordered">
            <tr>
                <td style="width: 200px;">Name:</td>
                <td>{{ this.launchpadInfo.name }}</td>
            </tr>
            <tr>
                <td>Launch site:</td>
                <td>{{ this.launchpadInfo.full_name }}</td>
            </tr>
            <tr>
                <td>Locality:</td>
                <td>{{ this.launchpadInfo.locality + ', ' + this.launchpadInfo.region }}</td>
            </tr>
            <tr>
                <td>Details:</td>
                <td>{{ this.launchpadInfo.details }}</td>
            </tr>
            <tr>
                <td>Launch attempts:</td>
                <td>{{ this.launchpadInfo.launch_attempts }}</td>
            </tr>
            <tr>
                <td>Launch success:</td>
                <td>{{ this.launchpadInfo.launch_successes }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ this.launchpadInfo.status }}</td>
            </tr>
            <tr>
                <td>Timezone:</td>
                <td>{{ this.launchpadInfo.timezone }}</td>
            </tr>
        </table>
    </div>
    <div class="map" id="map" style="width: 800px; height: 500px"></div>
</div>