<div class="card" style="width: 22rem; margin-right: 1em; max-width: 90%;" *ngIf="this.memberData != undefined">
    <img class="card-img-top" src="{{ this.memberData.image }}" style="height: 350px; max-width: 350px;" alt="Card image cap">
    <div class="card-body">
      <table class="table">
        <tr>
            <td>Name:</td>
            <td>{{ this.memberData.name }}</td>
        </tr>
        <tr>
            <td>Agency:</td>
            <td>{{ this.memberData.agency }}</td>
        </tr>
        <tr>
            <td>Wikipedia:</td>
            <td><a href="{{ this.memberData.agency }}">Click here</a></td>
        </tr>
        <tr>
            <td>Number of launches (with SpaceX):</td>
            <td>{{ this.memberData.launches.length }}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>{{ this.memberData.status }}</td>
        </tr>
      </table>
    </div>
</div>