<div class="container col-md-12 text-center">
    <br>
    <h1>SpaceX event monitor</h1>
    <br>
    <br>
    <br>
    <h3>Countdown until next launch</h3>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="card col-md-4">
            <div class="card-body">
                <h3 id="countdown">-</h3>
            </div>
        </div>
    </div>
    <br>
    <h3 class="text-left">Data about next launch</h3>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    go to event info or livestream


    stat info
   
    <h3 class="text-left">Official links</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://www.spacex.com/">SpaceX web site</a></li>
        <li class="list-group-item"><a href="https://github.com/r-spacex/SpaceX-API">API github repository</a></li>
      </ul>
</div>