<div class="text-center" id="pictureContainer">
    <div class="container">
        <h1 id="headline">Countdown to next launch</h1>
        <div id="countdown">
            <ul>
                <li><span id="days"></span>days</li>
                <li><span id="hours"></span>Hours</li>
                <li><span id="minutes"></span>Minutes</li>
                <li><span id="seconds"></span>Seconds</li>
            </ul>
        </div>
        <br>
        <h2 id="link"><a (click)="this.showNextLaunch()">Go to launch</a></h2>
    </div>
</div>