#countdownContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

#countdownContainer a:hover{
    color: white;
}

#pictureContainer{
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1541185933-ef5d8ed016c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}