<div class="container col-md-12 text-center">
    <br>
    <h1 class="text-center">{{ this.launch.name }}</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card col-md-12">
                <img class="card-img-top" src="{{ this.launch.links.patch.small }}"  alt="Card image cap" class="missionImage">
                <div class="card-body">
                  <h5 class="card-title">{{ this.launch.name }}</h5>
                  <p class="card-text">{{ this.launch.details }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
          <h3>Data about mission</h3>
          <br>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Task</th>
                <th scope="col">Outcome</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Article</td>
                <td><a href="{{ this.launch.links.article }}">Click here</a></td>
              </tr>
              <tr>
                <td>Wikipedia</td>
                <td><a href="{{ this.launch.links.wikipedia }}">Click here</a></td>
              </tr>
              <tr>
                <td>Launch date</td>
                <td>{{ this.launch.date_utc | date:'EEEE, MMMM d, y' }}</td>
              </tr>
              <tr>
                <td>Mission success</td>
                <td *ngIf="this.launch.success">
                  <span class="badge badge-success">Yes</span>
                </td>
                <td *ngIf="!this.launch.success">
                  <span class="badge badge-danger">No</span>
                </td>
              </tr>
              <tr>
                <td>Rocket</td>
                <td>{{ this.launch.rocket }}</td>
              </tr>
              <tr>
                <td>Flight number</td>
                <td>{{ this.launch.flight_number }}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <span *ngIf="this.launch.crew.length != 0">
      <hr>
      <h3 class="text-left">Crew members</h3>
      <br>
      <app-crew-member *ngFor="let member of this.launch.crew" [crewMemberId]="member"></app-crew-member>
    </span>
    <span *ngIf="this.launch.payloads.length != 0">
      <hr>
      <h3 class="text-left">Payload</h3>
      <br>
      <app-payload *ngFor="let payload of this.launch.payloads" [payloadId]="payload"></app-payload>
    </span>

    <hr>
    <h3 class="text-danger">Recovery ships</h3>

    <!-- <hr>
    <h3 class="text-left">Rocket</h3> -->
    <span *ngIf="this.launch.failures.length != 0" class="text-left">
      <hr>
      <h3>Failures</h3>
      <br>
      <span *ngFor="let failure of this.launch.failures; let i=index">
        <h4>Failure #{{ i+1 }}</h4>
        <ul>
          <li>Altitude: {{ (failure.altitude == null)?'-':failure.altitude }}</li>
          <li>Reason: {{ (failure.reason == null)?'-':failure.reason }}</li>
          <li>Time: {{ (failure.time == null)?'-':failure.time }}</li>
        </ul>
      </span>
    </span>
    <span *ngIf="this.launch.launchpad != undefined || this.launch.launchpad.length != 0">
      <hr>
      <h3 class="text-left">Launched from <span style="color: gray">(Launchpad info)</span></h3>
      <br>
      <app-launchpad [launchpadId]="this.launch.launchpad"></app-launchpad>
    </span>
    <span *ngIf="this.youtubeUrl != undefined && this.youtubeUrl.length > 0">
      <hr>
      <h3 class="text-left">Review video stream</h3>
      <br>
      <iframe width="800px" height="500px" [src]="this.youtubeUrl | safe" frameborder="0" allowfullscreen></iframe>
      <p><a href="{{ this.youtubeUrl }}">Stream not working? Click here</a></p>
    </span>
    <span *ngIf="this.launch.links.reddit.campaign != undefined && this.launch.links.reddit.launch != undefined && this.launch.links.reddit.media != undefined && this.launch.links.reddit.recovery != undefined">
      <hr>
      <h3 class="text-left">Reddit</h3>
      <ul class="text-left">
        <li *ngIf="this.launch.links.reddit.campaign != undefined">Campaign: <a href="{{ this.launch.links.reddit.campaign }}">Click here</a></li>
        <li *ngIf="this.launch.links.reddit.launch != undefined">Launch: <a href="{{ this.launch.links.reddit.launch }}">Click here</a></li>
        <li *ngIf="this.launch.links.reddit.media != undefined">Media: <a href="{{ this.launch.links.reddit.media }}">Click here</a></li>
        <li *ngIf="this.launch.links.reddit.recovery != undefined">Recovery: <a href="{{ this.launch.links.reddit.recovery }}">Click here</a></li>
      </ul>
    </span>
    <span *ngIf="this.launch.links.flickr.original.length != 0">
      <hr>
      <h3 class="text-left">Pictures</h3>
      <span *ngFor="let picture of this.launch.links.flickr.original">
        <table class="text-center w-100">
          <tr>
            <td><img src="{{ picture }}" style="max-width: 400px; max-height: 400px;"></td>
          </tr>
          <tr>
            <td><a href="{{ picture }}">View full picture on Flickr</a></td>
          </tr>
        </table>
      </span>
    </span>
</div>
